* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: "Orelega One", cursive;
}

main {
  position: absolute;
}

#bg {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -2;
  clip-path: polygon(0% 0%, 100% 0%, 100% 21%, 71% 34%, 35% 19%, 0 34%);
  background-color: rgb(21, 117, 18);
}

.main-nav {
  width: 100%;
  position: relative;
}

.main-nav__title {
  padding: 1rem;
  color: rgb(209, 218, 218);
  text-align: center;
  font-size: 2.5rem;
}

.main-presentation {
  background-color: rgb(170, 202, 170);
  margin: 30px auto;
  border-radius: 20px;
  box-shadow: 1px 1px 1px 2px rgba(2, 36, 5, 0.4);
  width: 90%;
  z-index: 1;
}

.main-presentation__text {
  padding: 2rem;
  font-size: 1.5rem;
  color: rgb(3, 39, 3);
  text-align: center;
  position: relative;
  z-index: 2;
}
.footer {
  font-size: 1.5rem;
  background-color: rgb(21, 117, 18);
  color: rgb(209, 218, 218);
  text-align: center;
}
